.btn-style {
  background-color: #4caf50;
  color: white;
  display: flex;
  margin: 8px 10px;
  justify-content: center;
  padding: 14px 20px;
  cursor: pointer;
  width: 150px;
}

.Room_input {
  display: block;
  border-radius: 31px;
  height: 62px;
  width: 300px;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-style:hover {
  background-color: #45a049;
  cursor: pointer;
  width: 150px;
}

.userBorder {
  width: fit-content;
  height: fit-content;
  border: 1px solid #e5e7e5;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.webcam-section {
  margin-top:100px; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.webcam-controls {
  /* bottom center  */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-container{
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  color: white;
  padding: 16px 30px;
  border-radius:15px; 
  cursor: pointer;
  width: 50px;
}
.controllpanel {
  background-color: rgba(86, 86, 86, 0.12);;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 20px;
  border-radius: 40px;
  width: fit-content;
}

.toggled {
  background-color: #555;
  color: white;
}

.pids-wrapper {
  position: absolute;
  height: 10px;
  width: 30vw;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color:#ddd;
}

.pid {
  width: calc(15%);
  height: 10px;
  display: inline-block;
  background-color: #555;
}

.scream-Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.menu-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu-transition {
  transition: all .3s;
}

.menu-item {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 20px 0 0 2em;
  align-items: baseline;
}

.menu-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 200px;
  padding: 20px 0 0 6px;
}

.Menu-bars {
  margin-top: 20px;
  margin-left: 20px;
}

.ShadowBox {
  width: 600px;
  height: 400px; 
  margin-top: 18rem;
  border-radius: 5px;
  display: flex; 
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 15px 19px 0px 0px rgba(63, 60, 60, 0.75);
}


.icons{
  color: rgb(255, 255, 255);
}
