.yt-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 23%;
  height: 50%;
  background-color: white;
  border-radius: 20px
}

@media screen and (max-width: 768px) {
  .yt-overlay {
    width: 230px;
    height: 50%;
    border-radius: 0px
  }
.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
}
}

.chatbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-window {
  padding: 10px;
  flex: auto;
  max-height: calc(100% - 60px);
  background: #40434e;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-input {
  flex: 0 0 auto;
  height: 60px;
  background: #343a40;
  border-top: 1px solid #2671ff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.chat-input input {
  height: 59px;
  line-height: 60px;
  outline: 0 none;
  border: none;
  width: calc(100% - 60px);
  color: #fff;
  text-indent: 10px;
  font-size: 12pt;
  padding: 0;
  background: #343a40;
}

.chat-input button {
  float: right;
  outline: 0 none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px 0 0 0;
  margin: 10px;
  transition: all 0.15s ease-in-out;
  background-color: #2671ff;
}

.chat-input input[good]+button {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  background: #2671ff;
}

.chat-input input[good]+button:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.msg-box {
  display: flex;
  background: #5b5e6c;
  padding: 10px 10px 0 10px;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.msg-self .msg-box {
  border-radius: 6px 0 0 6px;
  background: #2671ff;
  float: right;
}

.msg-remote .msg-box {
  border-radius: 0px 6px 6px 0px;
  background: #5b5e6c;
  float: left;
}

.flr {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

.messages {
  flex: 1 0 auto;
}

.msg:first-of-type {
  margin-top: 8px;
}

.info {
  color: #2f323b;
  font-size: 8pt;
  margin-bottom: 10px;
}

.username {
  margin-right: 3px;
}

.user-img {
  margin: 3px 0 10px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.msg-self .user-img {
  margin: 0 0 10px 10px;
}

.msg-self .msg {
  text-align: right;
}

.msg-remote .msg {
  text-align: left;
}

.msg-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
}